alias nt='npm test'
alias ns='npm start'
alias fs='foreman start'
alias rm=trash
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"
alias reload='. ~/.zshrc'
alias git='hub'
alias gs='git status'
alias gd='git diff'
alias gcam='git commit -am'
alias gap='git add -p'
alias gp='git pull'
alias gps='git push -u origin `get_git_branch`'
alias gl='git log'
alias gc='git checkout'
alias gb='git branch'
alias gr='git rebase'
alias gst='git stash'
alias gsta='git stash apply'
alias gpr='git pull-request'
alias ls='ls -la'
