
[user]
  name = Dylan Eirinberg
  email = eirinber@usc.edu

[github]
  user = deirinberg

[core]
  editor = vim

[color]
  ui = auto

[alias]

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto

[credential]
  helper = osxkeychain

[push]
  default = simple

